.projects {
    grid-template-columns: auto;
}

.project {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50% auto;
    text-align: left;
}

.project div:first-child {
    text-align: center;
}

.project div * {
    text-align: left !important;
}

.project * {
    text-align: left;
}

.project div h3 {
    margin: 0;
}

.projects-wrapper {
}


.project img {
    border: solid gray thin;
}

.projects-wrapper .date {
    text-transform: uppercase;
    font-family: "Oswald";
}

.job-position {
    font-style: italic;
    margin-bottom: 10px;
}
