<h1 id="contacts">How to find me</h1>
<section class="boxes contacts">
    <a class="box skype" href="skype:orelcokolov">
        <i class="fab fa-skype fa-4x"></i>
        <h3>orelcokolov</h3>
    </a>

    <a class="box gmail" href="mailto:orelcokolov@gmail.com">
        <i class="fas fa-at fa-4x"></i>
        <h3>orelcokolov@gmail.com</h3>
    </a>

    <a class="box github" href="http://github.com/orelsokolov">
        <i class="fab fa-github fa-4x"></i>
        <h3>@orelsokolov</h3>
    </a>

    <a class="box telegram" href="https://telegram.me/orelsokolov">
        <i class="fab fa-telegram fa-4x"></i>
        <h3>@orelsokolov</h3>
    </a>
</section>
