<h1 id="what-i-can">What I can</h1>
<section class="boxes">
    <div class="box">
        <i class="fas fa-people-carry fa-4x"></i>
        <h3>High Load Apps</h3>
        <p>
            I have experience of building High Load apps with great teams.
        </p>
        <p>I helped to build high load apps, such as People Sap, Van Lanshot</p>
    </div>
    <div class="box">
        <i class="fas fa-boxes fa-4x"></i>
        <h3>Micro services</h3>
        <p> I am ready to build complex apps with microservices. </p>
        <p>For last two years I worked with micro services: Orpiva, People SAP, internal EPAM Projects, Van Lanshot</p>
    </div>
    <div class="box">
        <i class="fas fa-wrench fa-4x"></i>
        <h3>Optimizations</h3>
        <p>I love to make apps more efficient.</p>
        <p>I worked with many apps which required a lot of search requests and calculations, for example:
            LPS, Karmasoft, Van Lanshot
        </p>
    </div>
    <div class="box">
        <i class="fas fa-code-branch fa-4x"></i>
        <h3>Clean & Safe Code</h3>
        <p>I always try to keep my code clean and good. I use linters and security checkers if possible.</p>
        <p>My favorite helpers for Ruby are Rubocop, RBP, Brakeman</p>
    </div>
    <div class="box">
        <i class="fab fa-internet-explorer fa-4x"></i>
        <h3>Remote Work</h3>
        <p> 30% of my work experience were remote projects.</p>
        <p>I worked with client without company with: Nitroagent, Karmasoft, Chorus</p>
    </div>
    <div class="box">
        <i class="fas fa-headset fa-4x"></i>
        <h3>Direct communication</h3>
        <p>I like to talk directly with client from amy country.</p>
        <p>In my work I always contact with client via voice and messages. It does not matter freelance or company.</p>
    </div>
    <div class="box">
        <i class="fas fa-business-time fa-4x"></i>
        <h3>Business Processes</h3>
        <p>I prefer to use already defined methodologies and do not reinvent wheels.</p>
        <p>
            I try to avoid jobs where <i>"task should be done yesterday"</i> and etc.
            Good planning is the half of success. I like success, not fails.
        </p>
    </div>
    <div class="box">
        <i class="fas fa-lightbulb fa-4x"></i>
        <h3>Awesome Ideas</h3>
        <p>I always try to suggest the best solutions and make projects better if possible</p>
        <p>Almost all projects I worked on smelt at the beginning, there were some code and architecture issues.
            I always tried to find solution for each case and resolve problem.</p>
    </div>
</section>
