<section id="what-i-am" class="info">
    <div class="info-item">
    </div>
    <div class="info-item">
        <h2 class="hello">self.to_s</h2>
        <p>
            My name is Oleg Orlov.
            I am a talented senior Ruby on Rails developer with over 5 years of experience involving agile software development practices, analysis, design, implementation and testing Ruby applications.
            I also love Go and Python, and have frontend skills too.
        </p>
        <h2 class="hello"></h2>
        <div class="text-center">
            <img class="lang-logo" src="gopher.png" alt="">
            <img class="ruby-logo lang-logo" src="ruby.png" alt="">
            <img class="lang-logo" src="python.png" alt="">
        </div>
    </div>
</section>
