<div class="sidebar">
    <div class="logo">{Orlov}</div>
    <div class="logo-desc">Senior Web Developer</div>

    <a href="#what-i-am" class="v_menu">
        <span class="menu-default-item">
            <span class="keyword">who</span> <span class="symbol">:I</span><span class="comma">,</span> <span class="method">am?</span>
        </span>
        <span class="menu-active-item">WHO I AM</span>
    </a>
    <a href="#what-i-can" class="v_menu">
        <span class="menu-default-item">
            <span class="keyword">what</span> <span class="symbol">:I</span><span class="comma">,</span> -> { can }
        </span>
        <span class="menu-active-item">WHAT I CAN</span>
    </a>
    <a href="#what-i-created" class="v_menu">
        <span class="menu-default-item">
            <span class="keyword">what</span> <span class="symbol">:I</span><span class="comma">,</span> <span class="method">created!</span>
        </span>
        <span class="menu-active-item">WHAT I CREATED</span>
    </a>
    <a href="#what-i-learned" class="v_menu">
        <span class="menu-default-item">
            <span class="keyword">what</span> <span class="symbol">:I</span><span class="comma">,</span> [ <span class="string">'learned'</span> ]
        </span>
        <span class="menu-active-item">WHAT I LEARNED</span>
    </a>
    <a href="#contacts" class="v_menu">
        <span class="menu-default-item">
            <span class="property">@contacts</span>
        </span>
        <span class="menu-active-item">CONTACTS</span>
    </a>

</div>

<script>
    var update_menu = function(){
        console.log("Update");
        // Route highlight
        $('.v_menu').each(function(){
            if($(this).get(0).href == window.location){
                $(this).addClass('active');
                $(this).find('.menu-active-item').show();
                $(this).find('.menu-default-item').hide();
            } else {
                $(this).removeClass('active');
                $(this).find('.menu-active-item').hide();
                $(this).find('.menu-default-item').show();
            }
        });

        $('.sidebar-section-title').on('click', function(){
            $(this).next().toggle();
        })
    };
    $(document).ready(update_menu);
    $(window).on('hashchange', update_menu);

</script>
