@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Info */
.info {
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30%;
    grid-template-columns: repeat(2, 1fr);
    background-image: url('../../images/me.jpg');
    background-color: #0c100f;
    background-repeat: no-repeat;
    background-size: auto 400px;
    height: 400px;
}

.info-item {
    color: white;
    padding: 30px;
}

.lang-logo {
    height: 100px;
    filter: grayscale(30%);
}

.ruby-logo {
    height: 140px;
}

.info-item p {
    color: white;
}

@media print {
    .info {
        grid-template-columns: repeat(1, 1fr);
        min-height: 700px;
        background-size: 100% auto;
    }

    .box {
        float: left;
        display: inline-block;
        width: 45%;
        height: 350px;
        page-break-after: always !important;
        margin-top: 20px;
        box-sizing: border-box;
    }

    .box:nth-child(2n+1) {
        margin-right: 10%;
    }

    .boxes {
        display: block !important;
    }

}
